{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div style="text-align: center">
        <div class="Ycs_introduce_title">
            <h1>Welcome YCS GAME</h1>
        </div>
        <div class="Ycs_introduce_paragraph">
            <p>Hello, this is a game to guess the song in the YouTube video.</p>
            <p>This game can be enjoyed by at least two to up to eight people.</p>
            <p>When the game starts, the song in the YouTube video will come out in the form of mp4.</p>
            <p>It's a game to guess the title of the song in mp4.</p>
            <p>When you guess the song, the YouTube video of the song will come out.</p>
        </div>
    </div>
{% endblock %}