.Ycs_head_logo{
    margin: 2rem 0;
    font-family: 'NanumSquareExtraBold', serif;
}
.Ycs_Member_logo{
    margin-left: 4rem;
    color:black;
    font-family: 'NanumSquare', serif;
}
.Ycs_Member_button{
    font-family: 'NanumSquare', serif;
    color:black;
    text-align: center;
}
.Ycs_Game_logo{
    color:black;
    margin-left: 4rem;
    font-family: 'NanumSquare', serif;
}
.Ycs_Game_button{
    font-family: 'NanumSquare', serif;
    text-align: center;
    color: black;
}
.Ycs_footer_logo{
    font-family: 'NanumSquare', serif;
}
.Ycs_footer_button{
    font-family: 'NanumSquare', serif;
}

.sidenav {
			height:100%;
			width:300px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:gray;
			overflow-x:hidden;
			padding-top:20px;
}

.Ycs_introduce_title{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'NanumSquare', serif;
}
.Ycs_introduce_paragraph{
    padding-bottom: 2rem;
    font-family: 'NanumSquare', serif;
    font-size: 30px;
}

a{
    text-decoration: none; /*text 밑줄 없애기*/
    color: #1e1e1e;
}
a:hover{ /*마우스를 올렸을떄*/
    color: orange;
}
.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}
.mw-200{
    max-width: 200px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width : 12rem;
    border-radius: 20rem;
    object-fit: cover;
}
p{
    font-size: 26px;
}
.NNS_B{
    font-family: 'NanumSquare', serif;
}