.Ycs_head_logo{
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;

}
.Ycs_Member_logo{
    margin-left: 5rem;
    color:white;
    font-family: 'Yuji Hentaigana Akari', cursive;
}
.Ycs_Member_list{
    font-family: 'Work Sans', sans-serif;
}
.Ycs_Game_logo{
    color:white;
    margin-left: 5rem;
    font-family: 'Yuji Hentaigana Akari', cursive;
}
.Ycs_Game_list{
    font-family: 'Work Sans', sans-serif;
}
.Ycs_footer_logo{
    font-family: 'Pacifico', cursive;
}
.Ycs_footer_button{
    font-family: 'Noto Sans KR', sans-serif;;
}

.sidenav {
			height:100%;
			width:300px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x:hidden;
			padding-top:20px;
}

.Ycs_introduce_title{
    padding-bottom: 2rem;
    font-family: 'Yuji Hentaigana Akari', cursive;
}
.Ycs_introduce_paragraph{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

a{
    text-decoration: none; /*text 밑줄 없애기*/
    color: white;
}
a:hover{ /*마우스를 올렸을떄*/
    color: orange;
}
.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}
.mw-200{
    max-width: 200px;
    padding: 1rem 1.5rem;
}