<div style="text-align: center">
    <div class="Ycs_head_logo">
        <h1>YCS GAME</h1>
    </div>
    <hr>
    <div style="text-align: left">
        <div class="Ycs_Member_logo">
            <h2>YCS MEMBER</h2>
            <ul class="Ycs_Member_list">
                <li>Login</li>
                <li>Create Account</li>
                <li>Profile</li>
            </ul>
        </div>

        <div class="Ycs_Game_logo">
            <h2>YCS Game</h2>
            <ul class="Ycs_Game_list">
                <li>Room making</li>
            </ul>
        </div>
    </div>
</div>